/* header */
.img_header{
    width: 100%;
}
.logo_header{
    height: 50px;
}
.link_header{
    color: green;
}
.header_nav{
    border-bottom: 2px solid green;
}

/* address */

.address{
    max-width: 1000px;
    margin: 20px auto;
    border: 2px solid green;
    padding: 5px;
}
.address img{
    width: 100%;

}

/* catalog */

html{
    overflow-x: hidden;
}
.tovar{
    color: #000;
    margin-bottom: 24px;
}
a {
    text-decoration: none;
}
.card img{
    margin-bottom: 5px;
}

/* product */

.img_tovar_{
    max-width: 100%;
    display: inline;
}
.img_tovar{
    width: 100px;
}
.img_tovar:hover{
    width: 200px;
}
.product{
    width: 80%;
    border: 2px solid green;
    margin: 20px auto;
}

/* authorization */

.author{
    width: 500px;
    border: 2px solid green;
    border-radius: 20px;
    margin: 20px auto;
}
.form_input{
    width: 90%;
    margin: 15px auto;
}
.info_input{
    width: 100%;
    margin: 5px 0;
}

.reg_text{
    text-align: center;
    margin-bottom:  10px;
}
.error{
    color: red;
    text-align: center;
    margin-bottom:  10px;
}
.confirmation{
    display: flex;
    padding: 3px;
    border: 0;
}
.confirmation p{
    margin-left: 5px;
    font-size: 15px;
    margin-top: 2px;
    max-width: 100%;
}


.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 6px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}
@media screen and (max-width: 650px){
    .nav_form{
        margin: 10px 10px 0 10px;
    }
}
.center{
    text-align: center;
}

/* about_us */

.info_us{
    width: 80%;
    margin: 10px auto;
}
.info_element{
    display: inline;
}
.info_p{
    margin-bottom: 10px;
}
.acctions{
    width: 60%;
    margin: 10px auto;
}